body {
  font-family: arial, sans-serif;
}

h1 {
  font-family: "Roboto Mono", monospace, sans-serif;
  color: #000000;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 8px 0 8px 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgb(83, 83, 83);
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 100;
  line-height: 19px;
}
img {
  text-align: center;
}

li:first-letter {
  text-transform: capitalize;
}
@media screen and (max-width: 300px) {
  .button-text {
    display: none;
  }
}
.btn-primary {
  font-family: "Roboto Mono", monospace, sans-serif !important;
  font-weight: 400;
  width: 90px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin-top: -2px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-primary:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}
.footer-repo {
  text-align: center;
  margin-bottom: 24px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 10px;
  border-radius: 32px;
  border: 2px double rgb(210, 196, 230);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.weather-app-inner {
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
  border-radius: 32px;
  padding: 40px;
  background: linear-gradient(
    0deg,
    rgb(252, 221, 221) 23.8%,
    rgb(247, 247, 247) 92%
  );
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.row #temperatures {
  margin-top: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgb(83, 83, 83);
}

.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  text-align: center;
  font-size: 13px;
}
#forecast {
  padding-top: 10px;
}
.col #row {
  padding-bottom: 10px;
  text-align: center;
}
#city-input {
  box-shadow: -7px 4px 5px 0px rgba(87, 117, 214, 0.3);
  border: 1px, rgb(83, 83, 83);
}
#search-form {
  margin-bottom: 60px;
}
